/* Signup Page Styles */
.signup-div {
    background-color: #34495e;
    padding: 40px;
    border-radius: 8px;
    width: 550px;
    margin: 110px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
    font-size: 16px;
    text-align: center;
    height: fit-content;
    padding-bottom: 40px;
}

body{
    background-color: #f1f5f9;
}

.signup-div .input-div {
    display: flex;
    gap: 40px;
}

.signup-div .input-div div {
    width: 45%;
}

.signup-div label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: left;
}

.signup-div input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.signup-div button {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.signup-div button:hover {
    background-color: #e67e22;
}

.newuser-label{
    text-decoration: none;
    color:#f39c12;
}